/***********************************************
                      colors
***********************************************/
$color_white: #fff;
$color_light-blue: #C7F7FF;
$color_med-blue: #89C0C9;
$color_dark-blue: #3a5E63;
$color_light-brown: #C9A689;
$color_dark-brown: #7C593C;
$color_light-grey: #d4d4d4;
$color_dark-grey: #222;
/***********************************************
                  font-family
***********************************************/
$font_Josefin-Sans: 'Josefin Sans';
$font_Trebuchet-MS: ‘Trebuchet MS’;
$font_Helvetica: Helvetica;
$font_sans-serif: sans-serif;
$font_Cardo: Cardo;
$font_Palatino-Linotype: ‘Palatino Linotype’;
$font_Book-Antiqua: ‘Book Antiqua’;
$font_Palatino: Palatino;
$font_serif: serif;
/***********************************************
                   font-size
***********************************************/
$font-size_ori: 16px;
$font-size_1: 1rem;
$font-size_1-4: 1.414rem;
$font-size_2-8: 2.827rem;
$font-size_3-9: 3.998rem;
